secret_key=your_django_secret_key_here
PROJECT_NAME=pm

MYSQL_ROOT_PASSWORD=supersecret_root_password
MYSQL_DATABASE=project_db
MYSQL_USER=project_user
MYSQL_PASSWORD=supersecret_user_password

DB_HOST=db
DB_PORT=3306
DB_USER=${MYSQL_USER}
DB_PASSWORD=${MYSQL_PASSWORD}
DB_NAME=${MYSQL_DATABASE}



FRONTEND_PORT=5173
VITE_FASTAPI_URL=http://localhost:8000/api
